.containers{
  background: rgba(0, 0, 100, 0.3);
  margin-top: 4%;
  font-size: xx-large;
  font-weight: 50;
  font-family: 'Times New Roman', Times, serif;
  }
body{
  background-size: cover;
  background: url(https://images.unsplash.com/photo-1450387635522-8ecb968079bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2122&q=80) no-repeat;
}
.box-img{
    margin-top: 10%;
    margin-bottom: 10%;
    border-color: crimson;
    border-style: solid;
}